@use "../helpers/variables" as *;

.sign-up-section,
.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  .container-img {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .container-form {
    flex: 1;
    background-color: $formColor;
    text-align: center;
    padding: 60px 10px;
    form {
      h2 {
        color: $whiteColor;
        font-weight: bold;
        font-size: 28px;
      }
      p {
        color: $whiteColor;
        line-height: 1.6;
        letter-spacing: 2px;
        font-size: 18px;
        min-width: 200px;
      }
      .input-box {
        margin: 10px;
        padding: 10px;
        position: relative;
        input {
          width: 90%;
          border-radius: 50px;
          padding: 9px;
          outline: none;
          background-color: #2c312c;
          border: none;
          color: $whiteColor;
          &:focus {
            border: 1px solid $mainColor;
          }
          &::placeholder {
            color: $whiteColor;
          }
        }
        svg {
          position: absolute;
          color: $whiteColor;
          font-size: 24px;
          right: 60px;
          top: 16px;
        }
        .error-message {
          color: $starsColor;
          padding: 0;
          margin: 0;
          line-height: 2;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .continue {
        display: block;
        margin: 10px;
        color: $mainColor;
        font-size: 20px;
        font-weight: bold;
      }
      .btn-sign-up,
      .btn-login {
        background-color: #47d17e;
        color: $whiteColor;
        padding: 5px 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        &:hover {
          background-color: $mainColor;
          scale: 1.1;
          -webkit-scale: 1.1;
          -moz-scale: 1.1;
          -ms-scale: 1.1;
          -o-scale: 1.1;
        }
      }
      .login-text {
        color: $whiteColor;
        font-size: 18px;
        a {
          color: $mainColor;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 772px) {
    .container-img {
      display: none;
    }
  }
  @media (max-width: 300px) {
    .container-form {
      svg {
        display: none;
      }
    }
  }
}
