@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
.home-page-slide {
  background-image: url("../../images/blog-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    text-align: center;
    &::before {
      @include pseudoElement(100%, 100%, rgb(49 45 45 / 23%)) {
        content: "";
        top: 0;
        z-index: -1;
      }
    }
    h1 {
      color: #ffc107;
      line-height: 2;
    }
    .offer {
      color: #ffc107;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 20px;
    }
    form {
      width: 50%;
      input {
        width: 100%;
        padding: 10px;
        outline: none;
      }
      .subscribe {
        top: 0;
        right: -23px;
        line-height: 2.5;
        outline: none;
        border: none;
        background: $mainColor;
        cursor: pointer;
        color: $whiteColor;
      }
    }
  }
  // =========== Responsive All Screens ===========
  @media (max-width: 572px) {
    .subscribe {
      display: none;
    }
  }
}
